
body {
    width: 100%;
    height: 100%;
    background-image: url('../images/backgrounds/bluebackground.png');
}
p {
    font-size: 1.2em;
}
.header {
    display: block;
    background-image: url('../images/backgrounds/neongreenbackground.png');
    background-repeat: no-repeat;
    width: 55%;
    margin: auto;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 1em;
    font-weight: bold;   
}
h4 {
    text-align: center;
}
.logo {
    width: 70%;
    margin: auto;
    display: block;
    border: 3px black groove;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
}
nav {
    width: 48%;
    
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.action-button
{

	display: inline-block;
    width: 11%;
    padding: .5em .5em;
	margin-left: 2%;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
    text-align: center;
	font-size: 1em;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
.action-button:hover {
	background-color: blue;
}

h1 {
    font-size: 2em;
}
h3, h2,  h1 {
    text-align: center;
    font-family: helvetica;
}
h3 {
    background-image: url('../images/backgrounds/neongreenbackground.png');
    background-repeat: no-repeat;
    font-size: 1.5em;
}

.smallLogo {
    width: 90%;
    margin: auto;
    
}

aside {
    background-image: url('../images/backgrounds/asidebackground3.png');
    float: left;
    margin-top: 1.3%;
    margin-left: 2%;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 1em;
    font-weight: bold;
    width: 18%;
    border: 2px black groove;
    display: inline-block;
    text-align: center;

}
article {
    background-color: white;
    margin-top: 1.3%;
    margin-left: 5%;
    padding: 1em;
    width: 46%;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    display: inline-block;
    
    border: 2px black groove;   
}
.headlines {
    background-image: url('../images/backgrounds/sidebarneonbackground.png');
    
    
    margin: auto;
    padding: 1em;
    width: 75%;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    display: block;
    border: 2px black groove;
    text-align: center;
}

.articleBlock {
    margin-top: 1.3%;
    float: right;
    width: 18%;
    margin-right: 4%;
}

.headlineLogo{
    width: 75%;
    margin: auto;
}
img.tallPic {
    height: 30em;
    width: 25em;
}

.thumb {
    
    width: 70%;
    height: 18%;
    border: 5px black groove;
}

.leftAlign {
    text-align: center;
    font-weight: bold;
}
.footerLogo{
    float: right;
}

.ad {
    width: 90%;
}

article p {
    padding: 1em;
}
.staff {
    font-weight: bold;
}
.staffPage{
    margin-left: 28%;
}
.archivesPage{
    height: 40em;
    margin-left: 28%;
}

.frontPageArticle{
    width: 55%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px black groove;
}

footer {
    background-color: #21C719;
    opacity: .7;
    color: white;
    padding: 1em;
    padding-bottom: 0;
    text-align: right;
    width: 90%;
    
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    padding-top: .5em;
    margin-top: 1.3%;
    margin-left: 5%;
    float: left;
}
.footer {
    float: left;
}

