body {
    background-color: #074363;
    width: 100em;
    height: 50em;
    margin: auto;
    background-image: url('../images/bluebackground.png');
}

.header {
    background-image: url('../images/neongreenbackground.png');
    background-repeat: no-repeat;
    width: 85em;
    margin-left: 6em;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 1em;
    font-weight: bold;
    
}

h4 {
    text-align: center;
}


.logo {
    margin: .75em;
    margin-left: 11em;
    border: 3px black groove;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
}

nav {
    margin: 1em;
    margin-left: 25em;
    
    
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

.whiteText {
    color: white;
}
aside {
     background-image: url('../images/asidebackground.png');
    float: left;
    margin-top: 2em;
    margin-left: 6em;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 1em;
    font-weight: bold;
    width: 18em;
}

.headlines {
    background-color: white;
    margin: 1.5em;
    padding: 1em;
    width: 20em;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    display: inline-block;
   
}

.headlines2 {
    background-image: url('../images/graybackground.png');
    margin: 1.5em;
    padding: 1em;
    width: 20em;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    display: inline-block;
    
}

.headlines3 {
    background-color: white;
    margin: 1.5em;
    padding: 1em;
    width: 20em;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    display: inline-block;
}

.signUP {
    background-color: #21C719;
    background-repeat: no-repeat;
    width: 10em;
    height: 4em;
    float: right;
    margin-right: 10em;
    padding: 1em;
    border: 3px black groove;
    opacity: .5;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
}

.submit {
    float: right;
}

.thumb {
    margin-left: 4em;
}


.bannerAd {
    margin-left:6em;
}

.rightAd {
    float: right;
    margin-right: 8em;
}

article {
    background-image: url('../images/whitebackground.png');
    margin: 2em;
    padding: 1em;
    width: 40em;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    display: inline-block;
    float:left;
    
}

.article {
    float: left;
    padding: 1em;
    margin: 2em;
    height: 200px;
    width: 200px;
}

.article2 {
    float: right;
    padding: 1em;
    margin: 2em;
}

footer {
    background-color: #21C719;
    opacity: .5;
    color: white;
    padding: 1em;
    padding-bottom: 0;
    text-align: right;
    width: 98em;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    float: left;
    padding-top: .5em;
    
}

.footer {
    float: left;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #074363;
   background: -webkit-gradient(linear, left top, left bottom, from(#22c719), to(#074363));
   background: -webkit-linear-gradient(top, #22c719, #074363);
   background: -moz-linear-gradient(top, #22c719, #074363);
   background: -ms-linear-gradient(top, #22c719, #074363);
   background: -o-linear-gradient(top, #22c719, #074363);
   padding: 10px 20px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
 .selectedButton {
   background-image: url('../images/whitebackground.png');
   padding: 10px 20px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #074363;
   font-size: 20px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }

 
.button:hover {
   border-top-color: #074363;
   background: #074363;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }